
:root {
    --tile-width: 100;
    --tile-margin: 2;
    --board-size: 51;
    --board-width: 5304; /*  = (tileWidth+(tileMargin*2))*boardSize  */

    --default-color: lightgray;
    --glacier-color: lightblue;
    --water-color: rgb(86, 155, 179);
    --ground-color: rgb(168, 137, 69);
    --forest-color: rgb(36, 121, 36);
    --city-color: rgb(126, 61, 126);
    --scorched-color: gray;
}

body{
    background-color: rgb(105, 82, 32);
    
}

#gameboard {
    display: inline-flex; 
    flex-wrap: wrap;
    width: var(--board-width);
}

.game-tile {
    display: flex; 
    flex-direction: column;
    font-size: large;
    /* flex-wrap: wrap; */
    width:              var(--tile-width);
    height:             var(--tile-width);
    background-color:   var(--default-color);
    margin:             var(--tile-margin)
}

#time-label{
    font-size: 5em;
}

#buttons{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    right: 0;
    position: fixed;
}

button{
    font-size: 5em;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 1em;
    margin: 0.5em;
    
}

button#button-step, button#button-run{
    background-color: rgb(66, 146, 66);
}

button#button-stop{
    background-color: maroon;
}